li {
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #ededed;
}

li:last-child {
  border-bottom: none;
}

li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
}


li label {
  white-space: pre-line;
  word-break: break-all;
  padding: 10px 2px 10px 15px;
  margin-left: 10px;
  display: block;
  line-height: 1.2;
  font-size: 18px;
  direction: rtl;
  text-align: right;
}


button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

li .fix {
  margin-right:10px;
  margin-left:10px;
}
.center {
text-align: right;
direction: rtl;
padding-right: 10px;
padding-left: 10px;
}




